<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eoin_a.alarm_app" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name= "com.example.eoin_a.alarm_app.MyApp">
        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".Alarm_views.Alarm_List"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".BroadcastRecievers.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".Services.BootService"
           android:exported = "false" />

        <activity
            android:name=".Alarm_views.Alarm_Ringing_Activity"
            android:label="@string/title_activity_alarm__ringing_" >
        </activity>
    </application>

</manifest>
